[2013-06-11 10:48] getdave opened #1 "Make url option more agnostic"
Currently we expect the user to want to run a search and replace on a single ref in the database. This is `url` because WordPress (which the Plugin is designed for) stores `siteurl` in the database and it needs updating when you migrate the DB to a new environment.

However some scenarios might call for several DB refs to be replaced. Suggest renaming the option to be `searchreplace` and allow the

[2013-06-11 10:52] getdave opened #2 "Allow remote hosts to not use SSH"
Although in the scenario that the Plugin was designed for requires SSH access to pull/push to remote DBs, some hosts allow direct MYSQL connections via the `-h` option.

`mysql -h 192.168.1.8 -u root -p`

This is uncommon but it happens. We need to allow for this scenario. This means we cannot use the prescence of `ssh_host` to determine the "local" environment. Needs a separate boolean flag?
- [x

[2013-06-11 10:53] getdave opened #3 "Employ better usage of multi task in Grunt config"
Currently I'm not positive the Plugins is using the "options" format expected by the Grunt documentation.

Revisit this.

[2013-06-11 11:07] getdave commented on #3
Consider that in fact the "Deployments" task should be a Multitask with a structure as follows:

[code]

In theory this should allow the tasks to be run as follows:

`grunt deployments:push --target="develop"`

`grunt deployments:pull --target="stage"`

[2013-06-12 11:23] getdave opened #4 "Make local options trackable outside VCS"
In a team scenario it's likely that each person will have a different local environment. Therefore it's imperative that the configuration options for the `local` target must be outside of VCS.

This is easily achievable via a separate JSON file which is included in the configuration. This external file can then be ignored and omitted from VCS.

This can be done already, but the user would need to

[2013-06-12 11:56] getdave opened #5 "backups_dir option incorrect"
IN the readme the `backups_dir` option is written as `backup_dir`. Fix

[2013-06-12 12:23] getdave opened #6 "Output error using db_pull"
Discovered potential error when using the `db_pull` command. Target database db dump file has contents of:

`/bin/sh: 8bN[N7Nwe.1: command not found`

Not sure what's going on.

[2013-06-24 16:32] getdave opened #7 "Add Option for format of backups dir naming convention"
At the moment the script creates directories for sql dumps based on the date and time at the point the script was run.

However it might also be useful to store them by git commit hash.

In which case we should allow the script to be configurrable enough to allow this.

Btw, a slick one liner to get the last commit hash is

[code]

[2013-06-26 14:41] neilberry001 opened #8 "Incorrect instruction in README"
Under heading: Other Environment Targets

Lines containing url definitions have missing commas at the end of their lines.

e.g.

[code]

should be

[code]

As a definition proceeds it (ssh_host)

[2013-06-26 15:18] getdave commented on #4
Consider creating an `option` to allow the user to define a path to a JSON file container the local configuration details. If option value is empty then assume not required

[2013-06-26 15:57] getdave commented on #5
Also add a note to say that the trailing slash isn't required in the path

[2013-06-26 15:59] getdave commented on #4
Or you could just add the following instructions to the Wiki and reference from the `readme.md` file.

**Gruntfile:_**

[code]

**deployments_local_db_config.json file:_**

[code]

[2013-06-26 16:44] getdave opened #9 "Using longhand argument form to avoid spec char issues in passwords"
I ran into an issue with a password that contained special characters.

This can be somewhat mitigated against by using the long hand for the password option

[code]

[2013-07-19 13:44] getdave opened #10 "backups_dir option should be camel case"
To stick to JS conventions the backups_dir option should be camel case.

[2013-08-20 09:38] pirm-in opened #11 "mysqldump not working with empty password"
I had a testing setup where my mysql user on the development server had an empty/no password. The mysqldump function did not work in this case.

[2013-08-20 09:42] pirm-in opened #12 "Allow multiple local configurations"
When working in a team, it would be nice to have the possibiltiy to setup multiple local configurations for each team meber. You could then maybe select the local database with another optional parameter.

[2013-08-22 16:30] getdave commented on #11
Thanks for the heads up. I really appreciate you taking the time to feedback.

[2013-08-22 16:32] getdave commented on #12
Thanks for taking the time to raise this issue.

I think this may be a duplicate of

https://github.com/getdave/grunt-deployments/issues/4

You can simply create a JSON file outside of VCS and then each team member can have their own "local".

Does this solve your problem? If so please let me know.

[2013-09-04 14:23] alkah3st opened #13 "Integrate 3rd party Search Replace DB script"
Does the find/replace part of this task account for serialized data?

[2013-09-20 09:16] getdave commented on #13
Not at the moment. I'm planning on making use of a 3rd party script to integrate this. However pull requests are more than welcome.

[2013-09-20 09:16] getdave commented on #12
No response. Closing.

[2013-09-20 09:16] #12 closed, assigned to nobody

[2013-09-22 21:24] alehlopeh opened #14 "Mysqldump on remote target doesn't use Host option"
Some VPS (MediaTemple) don't use localhost as the mysql host. This causes the mysqldump to fail silently. An error is reported when importing to local db.

[2013-09-23 08:23] getdave commented on #14
@alehlopeh Thanks for the bug report. I intend to put in place some more accurate procedures to guard against errors. If you have the output of the console handy and steps to reproduce that would be gratefully receieved.

[2013-09-23 22:28] alehlopeh commented on #14
@getdave Here's the output I got. The remote server's db host is internal-db.xxxxxxxx.gridserver.com.

[code]

Despite saying it successfully exported the database, the resulting db_backup.sql file is empty except for an error message, which of course causes the subsequent import to fail as well. It turns out that config.host was not being passed to the template. I've fixed this and will send a pu

[2013-09-24 08:50] getdave commented on #14
@alehlopeh Thanks very much for the pull request. It's been merged in. Really appreciate your work on this.

I'm planning on integrating some automated tests into this Plugin repo so that we can catch more errors like this.

I'm very aware that the task reports "Success" a lot, even when it fails (which is a bit misleading to say the least!). I am going to work on this very soon.

[2013-09-24 08:50] #14 closed, assigned to nobody

[2013-09-25 12:55] getdave opened #16 "Use dynamic task alias options format"
The preferred method for sharing options across multiple tasks is as per.

https://github.com/gruntjs/grunt/wiki/Frequently-Asked-Questions#dynamic-alias-tasks

[2013-10-13 00:22] darioghilardi opened #17 "Sed error with URLs"
Hello,
I am getting a sed error when replacing database URLs. The problem is easy to understand, there's no escape for the URLs I have into the Gruntfile.js so the sed command will be:

[code]

This is a problem because the slash inside the command are not escaped and makes confusion on sed. A very quick fix should be the use of another sed delimiter, like `#`instead of `/`.

[2013-11-12 14:23] getdave commented on #17
Should shortly be closed via release.

[2013-11-12 14:23] #17 closed, assigned to nobody

[2013-11-12 14:25] getdave commented on #13
@alkah3st I've recently upped by knowledge of NPM. I now understand we can reference a Git repo as a dependency. Therefore I propose the following

1) Define https://github.com/interconnectit/Search-Replace-DB as a dependency in `package.json`
2) Replace the `sed` (or allow as fallback?) with `searchreplacedb2cli.php` CLI script to account for Serialized data. We can use exec to do this easily.

I

[2013-11-12 14:30] getdave commented on #11
This is probably a bit of an edge case.

@pirm-in Can you please confirm whether for the scenario above running `mysqldump` directly on your terminal using the `-p` flag causes an error? I'm trying to establish what command syntax is required by `mysqldump` if the password is empty/not set. Help appreciated.

[2013-11-12 14:37] getdave opened #22 "Add Grunt Bump for easy version bump"
It's too easy to forget to version bump. Use Grunt Bump to enable this.

[2013-11-12 14:38] #5 closed, assigned to getdave

[2013-11-12 14:38] #8 closed, assigned to nobody

[2013-11-12 15:27] alkah3st commented on #13
Sweet, searchreplacedb is exactly the script I use to do the find/replace. I'm not by any means a pro with Grunt/node but I'll see what I can do.

[2013-11-14 08:32] nicooprat opened #24 "Ignore some tables"
Hi. It would be great to be able to ignore some tables. For example, I've a Wordpress with the Relevanssi plugin installed, which is kind of a big search index;  it doesn't have any value for the developer and it's really slowing down the process.

I'd love something like :

[code]

Do you think it's possible ?
Thanks.

[2013-11-14 22:53] getdave commented on #24
@nicooprat Thanks for raising this. I think that's a great idea. We can achieve it via

http://dev.mysql.com/doc/refman/5.1/en/mysqldump.html#option_mysqldump_ignore-table

This one goes on the list! If you'd like to contribute please let me know.

[2013-11-15 10:29] nicooprat commented on #24
Thanks ! I'd love to help, but I don't think I have the competences... I'll wait ;)

[2013-11-18 14:31] getdave commented on #13
Should be pretty simple. I'm planning to get to this Thurs/Fri

[2014-01-02 11:24] getdave commented on #24
This feature has been added.

Kudos to @nicooprat for the work.

[2014-01-02 11:24] #24 closed, assigned to getdave

[2014-01-02 11:26] getdave commented on #11
No response. Closing as edge case

[2014-01-02 11:26] #11 closed, assigned to nobody

[2014-01-02 11:27] getdave commented on #9
Not sure this is a requirement.

[2014-01-02 11:27] #9 closed, assigned to getdave

[2014-01-02 11:27] getdave commented on #6
Not able to replicate.

[2014-01-02 11:28] getdave commented on #3
This could be further improved to be

[code]

[2014-01-02 11:30] getdave commented on #1
WP DB Migrate Pro also modifies the path to the web root. This is a good example use case for wanting to have multiple search and replace targets.

[2014-01-03 09:49] getdave commented on #2
Also modify code to make use of tmp files rather than directly modifying the dump of the source/destination DB dump

Use https://github.com/raszi/node-tmp

[2014-01-03 12:38] getdave commented on #2
Fixed this as part of major set of updates for `v0.4.0`

[2014-01-03 12:38] #2 closed, assigned to getdave

[2014-01-03 12:40] getdave commented on #3
There is now only a single CLI comannd task `db_pull`. This now accepts `src` and `dest` parameters. Closing.

[2014-01-03 12:40] #3 closed, assigned to getdave

[2014-01-03 12:41] getdave commented on #16
Closing. Not required.

[2014-01-03 12:41] #16 closed, assigned to getdave

[2014-01-03 13:03] getdave opened #33 "Write more comprehensive tests"
Currently only very poor basic tests exist. To ensure this repo can continue to develop better tests are required.

I'm currently using Vows.

[2014-01-03 16:14] getdave commented on #13
@alkah3st if you're interested I've made some good progress on this at

https://github.com/getdave/grunt-deployments/tree/feature/advanced-search-replace

Requires a lot of testing however. Would you be able to give it a whirl and see if it works for you?

[2014-01-03 16:28] getdave opened #34 "Replace manual SSH with SSH2 package"
Currently we build up manual SSH commands and execute them via shelljs. Often this involves quite complex templating and can become confusing. It also doesn't provide that much protection in terms of errors and feedback for the user.

Consider removing all manually executed SSH commands in favour of

https://github.com/mscdex/ssh2

Commands can be executed in series directly on the remote machine

[2014-01-03 18:55] alkah3st commented on #13
Awesome, I'll check it out this weekend. I just in fact was retooling my own website, so I can experiment on it there.

[2014-01-03 19:48] getdave commented on #13
That would be much appreciated. Be sure to do a fresh install. Dependencies have changed a lot. NPM update...

Cheers

[2014-01-03 19:49] getdave commented on #4
This has been addressed on develop branch. Read me has instructions

[2014-01-03 19:49] #4 closed, assigned to getdave

[2014-01-09 11:13] getdave commented on #33
Integrate with Travis CI

http://about.travis-ci.org/docs/user/languages/javascript-with-nodejs/

[2014-01-09 11:14] getdave commented on #33
More info

http://dev.tutsplus.com/tutorials/testing-in-node-js--net-35018

[2014-01-17 10:31] nicooprat opened #35 "Port to Gulp ?"
Hi

Looks like [Gulp](http://gulpjs.com/) is gaining some interest these days. Could you be able to port your plugin ? It's the most useful to me, so until Gulp has something equivalent, I won't switch :)

Thanks.

[2014-01-17 12:58] getdave commented on #35
Looks interesting. I've been watching Gulp but I don't think this Plugin will be ported to Gulp any time soon. I just don't have the time.

I'm looking to upgrade this Plugin (check out the feature branches on this repo) in the near future. Maybe once it's fully tested I could consider porting it.

[2014-01-17 12:59] getdave commented on #13
@alkah3st Just checking to see if you've had any chance to test this out?

[2014-01-17 13:11] nicooprat commented on #35
Ok thanks I'll keep an eye on it !

[2014-01-18 00:48] jabes commented on #1
This plugin has far more potential than simply WordPress migration! I use it on other frameworks such as Laravel and would love to see this feature implemented. I ran into this issue when setting the definer in a stored procedure which is environment dependent.

[2014-01-18 16:19] getdave commented on #1
@jabes Good to know you're finding this useful elsewhere. Do you have any experience working with Grunt? Would you like to contribute? I'd love to see a pull request. If not I'll try to get around to this...

[2014-02-02 10:54] davidsneighbour opened #36 "Saving private information in external file"
It would be useful to have an external file (as done in github.com/zonak/grunt-ftp-deploy) to save private data (password) outside of the gruntfile (and repositories).

[2014-02-16 19:55] bjornbjorn commented on #36
Hi .. just my 2c - this can be done today with an external settings json file.

Just below the pkg: grunt.file.readJSON read your external settings file:

[code]

And then use those values in your conifg:

[code]

The settings.json file should look like this:

[code]

[2014-02-17 01:19] davidsneighbour commented on #36
right, that makes sense. let's close this non-issue then.

[2014-02-17 01:19] #36 closed, assigned to nobody

[2014-02-19 14:25] getdave commented on #36
Thanks for resolving this guys. I've been away but the technique above it exactly correct.

[2014-02-20 18:44] alkah3st commented on #13
Hi Dave, sorry I have disappeared from the face of the earth these past two months. I've been settling into a new job. Quick question I have about your advanced search/replace deployments script: I have everything set up properly in my gruntfile, but what's not clear to me is steps 1) and 2) you described above:

1) Define https://github.com/interconnectit/Search-Replace-DB as a dependency in pack

[2014-02-21 11:00] getdave commented on #13
@alkah3st Not a problem.

I've actually already done most of the work on this branch

https://github.com/getdave/grunt-deployments/tree/feature/advanced-search-replace

Check out this branch and give it a whirl. I'm interested to see what issues you encounter.

[2014-02-21 13:36] alkah3st commented on #13
Ah cool, that's the one I'm testing out. I have an environment where I'll regularly be moving a WP site from dev -> stage -> live, so I think this would be an ideal test.

[2014-02-21 21:31] thatgibbyguy opened #37 "/bin/sh: mysql: command not found"
I'm using AMPPS as my local mysql and apache server and now trying to use this package to sync my local db with the remote dbs.

I can connect with no error to the dbs locally and remotely, but when trying to dump or import locally I get

[code]

Surely there's something simple I'm missing.

[2014-02-24 09:24] getdave commented on #37
I believe you don't have the AMPPS MySQL package in your PATH. You would have to do something along the lines of

[code]

[2014-02-24 09:24] #37 closed, assigned to nobody

[2014-02-24 09:24] getdave commented on #13
@alkah3st I would be great if you could test this. Be careful with it as it's not production-ready code yet!

[2014-02-24 14:52] thatgibbyguy commented on #37
With Dave's answer I am able to solve this, but it was a little bit more nuanced than that. What I did  was open my bash profile

[code]

and enter the following:

[code]

This technically should be the same thing, but for some reason my environment was not accepting it. So that's a good fallback.

Considering I'm likely not the only person using AMPPS or MAMPS or anything else, it may be a good i

[2014-02-24 16:02] alkah3st commented on #13
Here's a question for you: so I have everything set up in my external file:

{
    "local": {
      "title": "Local",
      "database": "xxx",
      "user": "xxx",
      "pass": "",
      "host": "xxx",
      "url": "xxx"
    },
    "develop": {
      "title": "xxx",
      "database": "xxx",
      "user": "xxx",
      "pass": "xxx",
      "host": "xxx",
      "url": "xxx",
      "ssh_user": "xxx",

[2014-02-24 16:19] getdave commented on #37
@thatgibbyguy Thank you very much for taking the time to post your solution. I'd love to see a pull request for an edit to the README to include this.

Perhaps a "Troubleshooting" section? Please ensure all pull requests are into the "develop" branch.

[2014-02-26 09:18] getdave commented on #13
Thanks for giving this a shot. I've tried to help below...

You can name and reference the external file however you'd like. A good explanation of how to achieve this is found [on the readme](https://github.com/getdave/grunt-deployments/tree/feature/advanced-search-replace#security). My file is similar to the below:

[code]

...and the portion of the my Gruntfile which references it is:

[code]

I

[2014-02-26 09:18] getdave opened #40 "Rename "db_pull" to "db_migrate""
Rename "db_pull" to "db_migrate" because it's confusing!

[2014-02-26 14:07] alkah3st commented on #13
Awesome, I will try this out once I get to the office!

[2014-03-03 15:07] getdave commented on #13
@alkah3st Did you have any luck?

[2014-03-08 10:37] getdave commented on #13
# New Requirement

Now that the original SearchReplaceDB repo has been updated to include a package.json file this project should reference the original repo as a dependency rather than my forked version. This should be updated in `package.json`.

[2014-03-11 10:20] wizioo opened #41 "Make it work for windows platform"
I have a Windows 8.1 with Wamp  locally and I work with a remote linux platform. Your grunt plugin is fantastic but it didn't worked for me until I made some changes which can interest you.

To make it work on Win platform, there is 2 problem:
1. Sed doesn't work on Windows platform.
   As shelljs is a dependencie, you can use:

[code]

   to replace:

[code]

   in db_replace function and you don

[2014-03-11 15:37] getdave commented on #41
Hi @wizioo. Thanks for bringing this to my attention.

As I'm not based on a windows platform I'd really appreciate it if you were able to raise a pull request (into the `develop` branch) detailing these changes.

I can then easily inspect the diff and see if it's possible to provide a mechanism to allow the tool to be more configurable to function across multiple environments without the need to

[2014-03-12 07:48] wizioo commented on #41
Hello @getdave. Thanks for your interest in my idea.
I'll try to do it this week for sure.

[2014-03-15 02:57] nickbouton commented on #41
@wizioo Thanks for this, saved me a lot of time on Win7!

Also, +1 for Windows support. :)

[2014-03-19 21:30] alkah3st commented on #13
Hi Dave, so I was diving back into this, but now it's not clear to me how I'm supposed to include the new version. My package.json references grunt-deployments:

[code]

I'm including a config file as dbpass.json, and this is my gruntfile:

[code]

What am I missing here?

[2014-03-24 09:29] getdave commented on #13
Hmmm...that's a good point. Not sure of the top of my head how you'd reference a feature branch on Github via `package.json.

Might be easier to test the new Search & Replace branch in isolation from your `leap-wordpress-package`? Just checkout the branch and try it out...?

Sorry if this is making things difficult for you.

[2014-03-30 23:33] davemac commented on #13
Following these comments with interest, am I right in thinking the Search Replace DB feature branch hasn't been merged into the master as of yet?

[2014-03-30 23:51] alkah3st commented on #13
That's where I'm confused too... Not sure how to run this independently of the master.

[2014-03-31 08:58] getdave commented on #13
@davemac @alkah3st Sorry guys. Appreciate this is confusing.

The Search Replace DB is on a branch at:

https://github.com/getdave/grunt-deployments/tree/feature/advanced-search-replace

I would advise that you create a clean dir on your local machine and then clone a fresh copy of the repo. You can do this using

[code]

That should do it. From there you should be able to test the functionality.

[2014-03-31 09:00] getdave commented on #13
Also I'm consider making this an optional feature. So the idea would be
- Plugin defaults to using Search&ReplaceDB for search/replace
- ...or you can pass an option to the task to tell it to use `sed` for search/replace instead
- ...or you can pass your own function to do the search/replace manually.

Also note this task which relates to this quite well https://github.com/getdave/grunt-deployment

[2014-03-31 09:02] davemac commented on #13
Thanks Dave, my vote would certainly be to make search replace db an optional feature. That would then make things easier for users, I suppose - but more work for you!

[2014-04-29 12:12] davemac commented on #41
If using sed for search/replace, does it handle data in serialised arrays?

I'm thinking WordPress databases for example, which use serialised arrays.

[2014-04-30 19:53] sharpmachine commented on #37
I'm having the same issue but I'm using Vagrant/Virtualbox.  Can someone help!  I've been searching for a solution for 2 days and can't find anything.

[2014-05-07 11:32] davemac commented on #6
I can replicate this.

It seems this happens when the target db password contains a semi-colon.

 `"pass": "8!27;=@@GT{J"`

Gives me a target database dump file with the following contents:

`/bin/sh: =@@GT{J: command not found`

[2014-05-08 05:22] davemac commented on #13
OK have tried to add the advanced search replace feature branch to package.json:

  "devDependencies": {
    "grunt": "~0.4.2",
    "grunt-autoprefixer": "~0.7.2",
    "grunt-contrib-imagemin": "~0.6.0",
    "grunt-contrib-jshint": "~0.9.2",
    "grunt-contrib-uglify": "^0.4.0",
    "grunt-contrib-watch": "~0.6.1",
    "grunt-rsync": "~0.5.0",
    "matchdep": "~0.3.0",
    "grunt-deployments": "gi

[2014-05-08 06:18] davemac commented on #13
Worked it out, you need to delete `node_modules` and run `npm install` again.

After hours of googling, I found an explanation here http://howtonode.org/managing-module-dependencies

[2014-05-08 07:13] davemac opened #43 "node_modules/search-replace-db/srdb.cli.php: No such file or directory"
I'm testing the `feature/advanced-search-replace` branch and when I run:

`grunt db_pull --src="production" --dest="local"`

I get the following error:

`/bin/sh: node_modules/search-replace-db/srdb.cli.php: No such file or directory`

From what I can see, is this something to do with `scriptPath` not having the correct path to `srdb.cli.php` ?

[2014-05-09 11:20] getdave commented on #37
@sharpmachine I don't use Vagrant at the moment so I'm not going to be much help here.

[2014-05-09 11:21] getdave commented on #43
You'll need to ensure you have the correct dependencies installed. It's look for the script at `node_modules/search-replace-db/srdb.cli.php:` which you don't have in your filesystem.

Try `npm install`? Hope that helps?

See this line

https://github.com/getdave/grunt-deployments/blob/feature/advanced-search-replace/package.json#L34

[2014-05-09 11:22] getdave commented on #13
@davemac Nice work sir!

[2014-05-09 11:23] getdave commented on #6
Any ideas how we could escape this?

[2014-05-09 11:24] getdave commented on #41
@davemac No I don't think `sed` will handle that. As far as I"m aware the only tool that does is the SearchReplaceDB PHP script I'm using on the advanced search replace branch of this repo.

If there's a node module that can handle this then that would be greatly preferable.

[2014-05-09 11:56] davemac commented on #43
Hi Dave,

Great work on this script, by the way. OK, I think I am missing something.

My local package.json for the site contains:

[code]

I've run `npm install` and I can see `search-replace-db` in my home folder at '~/npm/search-replace-db/2.2.0/package/' but it's not in my local site folder's `node-modules` which is causing the error, as you said.

Sorry if i've missed something obvious?

[2014-05-09 12:12] davemac commented on #6
I'm a front end developer who's learning (and very interested) in grunt, node.js etc. I'm definitely out of my comfort zone, but I'll do some research and see if I can come up with a solution.

It's shell.js handling the password?

[2014-05-09 13:05] davemac commented on #43
OK I've added the following to my DevDepencies:

`"Search-Replace-DB": "git://github.com/getdave/Search-Replace-DB#e26fba07b91a8c18aedffc9e277716f5e0d46043"`

and that installs the package locally and gets rid of the error. Not sure why I had to explicitly add that line to my `package.json` when it's referenced in your module?

[2014-05-09 13:12] davemac opened #44 "Error: Missing argument, -n or --name is required"
I'm testing the feature/advanced-search-replace branch and when I run:

`grunt db_pull --src="production" --dest="local"`

I get the following error:

`Error: Missing argument, -n or --name is required`

I realise that argument is required by advanced-search-replace, but shouldn't the script already have that info from the Gruntfile?

I tried ``grunt db_pull --src="production" --dest="local" -n {d

[2014-05-11 21:10] getdave commented on #43
Hmmmm...this could be an issue. I'm wondering whether the way npm resolves dependencies is going to mean the way Grunt Deployments uses the Search Replace DB script in this somewhat unorthadox manner isn't go to be a goer.

Did you get this working in the end and has it now resolved https://github.com/getdave/grunt-deployments/issues/44 ? Is so can you close the issues?

[2014-05-11 21:12] getdave commented on #13
@davemac If it's possible to advise on your progress with testing this. Has it worked for you? Any major errors? Any suggested improvements. As always pull requests into the correct branch are welcome.

I'd really like to get this released so I'm really appreciative of your testing efforts!

[2014-05-11 21:14] getdave commented on #6
So am I Dave, so am I :) Flagging this up as a bug that needs resolving.

[2014-05-11 21:18] getdave commented on #35
Not going to happen any time soon I'm afraid. Closing for now.

[2014-05-11 21:18] #35 closed, assigned to nobody

[2014-05-11 21:19] #22 closed, assigned to getdave

[2014-05-12 00:31] davemac commented on #43
So the issue here still exists, in that npm installs search-replace-db in to `~/npm` rather than into the local site folder. This result in the error as per the ticket.

I got around this by manually adding the dependency to my `package.json`:

`"Search-Replace-DB": "git://github.com/getdave/Search-Replace-DB#e26fba07b91a8c18aedffc9e277716f5e0d46043"`

But from what I can see, anyone running `npm

[2014-05-12 00:31] davemac commented on #43
#44 is a separate issue.

[2014-05-12 00:34] davemac commented on #13
See issue #43 which helps with getting this feature branch installed as a dependency  and also #44 which I believe is an outstanding issue.

[2014-05-12 00:35] davemac commented on #44
This is still an issue even, when #43 is resolved.

[2014-05-14 05:24] davemac commented on #44
Here's what happens:

`$ grunt db_pull --src="production" --dest="local"`

[code]

The production database has been pulled down and the local one backed up, but the search replace hasn't happened.

[2014-05-21 14:49] getdave commented on #44
Initial look

[This](https://github.com/getdave/Search-Replace-DB/blob/master/srdb.cli.php#L39) is the param that's missing.

The param is included in the LoDash template which is used by Grunt Deployments (see [here](https://github.com/getdave/grunt-deployments/blob/feature/advanced-search-replace/lib/tpls.js#L8))

Your error suggests that the `database` param isn't being passed into the LoDash t

[2014-05-22 09:39] wizioo commented on #41
@davemac Yeah, it doesn't work on serialised arrays...
Any solution?

[2014-05-22 11:11] wizioo commented on #41
Have a look at @webrain solution : https://github.com/webrain/grunt-wordpress-deploy
Their search / replace function handle serialised arrays.
Maybe we should use it to solve the problem.

[2014-05-27 13:45] getdave commented on #41
@wizioo The @webrain solution is a fork of my original. It would have been nice if they had contributed to my script rather than duplicate and rewrite but I understand if they prefer to work on their own solution. It's all open source after all! :)

I like the serialisation of arrays in their script. I suggest that we consider "borrowing" the serialization code and add a credit in a "history" sect

[2014-06-04 01:23] eriteric opened #45 "Deploying with MAMP and cPanel (stdin is not a tty & Error 1064)"
Receiving error:
"Importing DUMP into remote database
stdin: is not a tty
ERROR 1064 (42000) at line 1: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/bin/sh: mysqldump: command not found' at line 1"

Any idea how to fix this? Much appreciated!

[2014-06-04 06:20] eriteric commented on #45
I got rid of the "stdin: is not a tty" error, this seems to be exclusive to cpanel
fixed by editing the etc/bashrc file.
Comment out this line:

[code]

and/or add:

[code]

I'm still seeing this though:

[code]

[2014-06-04 14:15] eriteric commented on #45
Ok, sorry for the non-issue but perhaps this can help others.
I was using MAMP locally on OSX, and found that the local dump was not being performed correctly. This is because MAMP stores mysql in another directory. To fix, you can create a symlink like so:

[code]

[2014-06-04 14:15] #45 closed, assigned to nobody

[2014-06-04 16:17] getdave commented on #45
@eriteric No worries. I think your issues is similar to https://github.com/getdave/grunt-deployments/issues/37

Would you consider submitting a PR which creates a "Troubleshooting" section in the README and adds a note about ensuring you reference the correct `mysql`?

[2014-06-05 03:57] davemac commented on #44
Thanks Dave, but yes I have supplied the database as far as I can see.

As I mentioned, it is actually pulling the production database down to my local machine. So the credentials, as far as I know, are OK:

[code]

[2014-06-05 22:02] eriteric commented on #45
you got it! pull request sent

[2014-06-05 23:14] eriteric opened #47 "Exclude certain db tables from being pushed/pulled"
This could come in handy where user/customer data could possibly be changed between a push and pull that you wouldn't want to risk losing

[2014-06-05 23:26] eriteric commented on #47
This is a config option (ignoreTables) in the feature/advanced-search-replace branch

[2014-06-05 23:26] #47 closed, assigned to nobody

[2014-06-26 19:34] dnlmzw opened #49 "Fails with " in password"
Had to remove the " in my db password in order to make it work.

Error happened in line 217

[code]

[2014-07-02 23:55] EddyRespondek opened #51 "Running db_pull as a GruntFile.js task?"
Question:

This might be obvious but I couldn't figure out how to do it. Is there a way to run the db_pull command as a task in GruntFile.js?

I figured  something like the following would work

deployments: {
  local: {...},
  staging: {...},
  pull_db_staging: {
    db_pull: {
        target: 'staging'
    }
  }
}

grunt.registerTask('pull-stg', ['deployments:pull_db_staging','rsync:pull_uploads

[2014-07-04 16:35] adampatarino commented on #45
@eriteric did you have to both create a symlink and comment out `mesg y` ?
I've created the symlink and I am able to create local dumps, but I can't seem to push or pull without running into this error. Do I really have to modify the `bashrc` file on my servers?

[2014-07-30 00:07] ghost opened #53 "Options required?"
Even though there are defaults for all options, if there are no options specified I get:

Warning: Cannot read property 'backups_dir' of undefined Use --force to continue.

Aborted due to warnings.

[2014-07-30 00:11] ghost opened #54 "Sed error changing URL"
$$ grunt db_pull --target="prod"
Running "db_pull" task

Pulling database from 'Production' into Local
Creating DUMP of remote database

It appears to be treating the edit string like the file name.

Despite the fact that it says references were updated, there is no output file created.

[2014-07-30 19:23] ghost commented on #54
Looks like an extraneous null parameter on the tpls string:

[code]

Changing it to

[code]

seems to solve the problem.

[2014-07-30 21:37] ghost opened #55 "Dump files prefixed with "Warning: Using a password on the command line interface can be insecure.""
Causes database imports to fail.

I'm using MySQL 5.6, which has improved security, which might be the problem.

Fixed by modifying tpls strings to set password variable:

[code]

[2014-07-30 21:42] ghost opened #56 "Cannot use grunt-deployments in task list"
I have not been able to figure out a way to use db_pull or db_push in a list of tasks because of the need for the "--target=" parameter.

Is there a reason not to use the "standard" grunt task syntax, e.g. task:target?

I solved it for my purposes by modifying db_pull and db_push to use:

var target = grunt.option('target') || (this.args.length >= 0 && this.args[0]) || task_options['target'];

so

[2014-08-01 23:37] ghost opened #57 "Does not work for non-standard SSH ports"
It is reasonably common for hosting services to use a non-standard SSH port, e.g. 2222.

[2014-08-01 23:39] ghost opened #58 "Private key file"
It would be more flexible if it was possible to specify a "privateKey" option, as is done by grunt-rsync and grunt-rsyncwrapper (and, in fact, rsync itself).

This could eliminate the need for a separate key-agent process.

[2014-08-23 11:49] laurnts commented on #55
I have experiencing the same issue and this one is a great fix! Thank you.

[2014-10-23 09:01] jonsherrard commented on #55
Great fix. @bobdye can you submit a pull request? I might fork this repo or ask for @getdave to transfer as I use it so much... I'm not sure he has the time to work on it.

[2014-10-23 23:11] ghost commented on #55
Sure. Glad to help out.

_Bob Dye_

_Wine Country Web Design_

Cell: (707) 738-9919

www.winecountrywebdesign.com

On Thu, Oct 23, 2014 at 2:01 AM, Jon Sherrard notifications@github.com
wrote:

[2014-11-06 16:12] eriteric commented on #45
Sorry for extremely late reply. Hopefully you have resolved this :) but just in case anyone else is at the same spot: I had to do both of those on one server but could do with just one on another, so that's why I left it as and/or. Yes, editing the bashrc file is the only method of correction as far as I'm aware.

[2014-11-27 04:26] sheck commented on #51
+1

[2014-11-29 22:43] SantoDE commented on #56
Hey there,

I can not even figure out how to use it within my grunt file. You got a working example for me?

Thanks !:)

[2015-02-03 13:22] alexpeterson opened #61 "Getting ERROR on push"
This is the error I'm getting when I try grunt db_push --target="stage"

Importing DUMP into remote database
stdin: is not a tty
ERROR 1064 (42000) at line 1: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/bin/sh: mysqldump: command not found' at line 1

Any ideas?

Alex

[2015-02-07 07:13] yosukehasumi commented on #55
@bobdye +1, thanks

[2015-02-16 13:20] halloulpsx opened #62 "cannot read property 'options' of undefined use"
i got this error when running db_pull "cannot read property 'options' of undefined use".

Any one could tell me what's wrong or what's causing this ?

I am running it on windows without the replace url thing.

[2015-02-16 14:18] halloulpsx commented on #62
my bad miss placed the  grunt.loadNpmTasks('grunt-deployments');

[2015-02-16 14:18] #62 closed, assigned to nobody

[2015-02-16 16:22] halloulpsx commented on #61
check the dumped sql file it might be a mysql warning about the password that got into the file at the first line.

[2015-02-16 16:36] halloulpsx commented on #55
great fix, better than mine xD , i did not know about the variables, but this will not work on windows i had to change the db_dum function and add these lines after  // Capture output...

[code]

We should edit this once for all i thing and why not send a pull request, i will edit it by tomorrow.

[2015-02-26 19:30] nwtn opened #64 "hang due to double backslash"
My remote database dumps were hanging here:

[code]

I traced this to `deployments.js` line 208, `cmd = tpl_ssh + " \\ " + tpl_mysqldump;`. My system was not executing the remote command after connecting. By changing the line to `cmd = tpl_ssh + " '" + tpl_mysqldump + "'";`, it was able to execute the remote command.

I'd do a PR, but this is obviously working fine for some people, so I'm guessing

[2015-05-12 19:35] korynorthrop opened #65 "Absolute Paths in Widgets Breaks WP Functionality"
This plug-in is working as expected until I place an absolute path in a Text Widget and run the db_push task. For example, if I have place an image in a text widget:

`<img src="http://example.com/wp-content/uploads/test.jpg" alt="Test Image" />`

or have a link to an internal page:

`<a href="http://example.com/internal-page/">Internal Page</a>`

the database will successfully push to the develop

[2015-05-16 04:40] u007 opened #66 "grunt db_pull --target='prd' - process out of memory"
is this due to compression?
my db is quite huge...

these is the output:

[code]

[2015-10-01 12:00] v3nt opened #67 "exclude row from table if matches criteria?"
A simple way to exclude table rows from certain tables?

ie.
SELECT \* FROM `wp_posts` WHERE `post_type` LIKE '%revision%'

I've been using this across several sites over the last year and some databases are 100mb+ so being able to exclude 'padding' or unwanted data would save a lot of time and space.

[2015-10-05 08:24] pmdennis commented on #57
Just add the port like this:
"ssh_host": "user@host -p 2222"

[2015-10-11 19:55] lid3rs opened #68 "mysqldump"
mysqldump returns 'bash: mysqldump: command not found', but launching it directly on server works well.

[2015-10-11 19:59] lid3rs opened #69 "Writes OK even if Error"
![screen shot 2015-10-11 at 21 08 39](https://cloud.githubusercontent.com/assets/1872001/10418760/698f2fba-705c-11e5-9ae2-17db181fb288.png)
While importing dumped (Errored file content) sql file, i am having "You have an error in your SQL syntax" but programm moves forward and writes "Operations completed. Done, without errors."

[2015-10-16 16:45] stuartjnelson commented on #68
Im getting the same issue. For me I wondered if it was because I'm using MAMP Pro and mySQL install is located in a different place?

[2015-10-19 16:53] stuartjnelson commented on #68
I fixed my problem. It was what I suspected and I just needed to update my .bash-profile — Because I use MAMP Pro, mySQL is not in the standard location. So I just added this to my .bash-profile;

export PATH=/Applications/MAMP/Library/bin:$PATH

[2015-10-20 10:07] lid3rs commented on #68
Yes, looks like it is not the programm error, it is about path of mysqldump. Case can be closed or left here for others.

[2016-03-05 16:48] v3nt opened #72 "possible to compress sql and or delete older files?"
My backups folder is getting pretty big on several of my projects and would be great if we could tidy during a pull or push.

[2016-03-18 17:29] v3nt commented on #56
+1

[2017-10-19 07:55] alexpeterson commented on #55
Thanks Bob. Fixed my issue. You'd this this fix would have been committed by now.